<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/app.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">


  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top container" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">New Skool web design &amp; development</a>
        </div>
      </div>
    </div>

<div class="container">
<!-- Accordion -->
  <div ng-controller="AccordionDemoCtrl" style="padding-top: 80px;">
    <accordion close-others="oneAtATime">

      <accordion-group heading="Home" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">

      <!-- Carousel -->
        <div ng-controller="CarouselDemoCtrl">
          <div>
            <carousel interval="myInterval">
              <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                  <h4>Slide {{$index}}</h4>
                  <p>{{slide.text}}</p>
                </div>
              </slide>
            </carousel>
          </div>
        </div>
  <!-- Carousel end -->

        <br />

        <div ng-include="'partials/partial2.html'"></div>

      </accordion-group>

      <accordion-group heading="Documents">
        <div ng-include="'partials/partial1.html'"></div>

        <br />

  <!-- Carousel -->
        <div ng-controller="CarouselDemoCtrl">
          <div>
            <carousel interval="myInterval">
              <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                  <h4>Slide {{$index}}</h4>
                  <p>{{slide.text}}</p>
                </div>
              </slide>
            </carousel>
          </div>
        </div>
  <!-- Carousel end -->

        <br />

        <div ng-include="'partials/partial2.html'"></div>
      </accordion-group>

      <accordion-group heading="About">
      <div ng-include="'partials/partial1.html'"></div>
      </accordion-group>

      <accordion-group heading="Contact">
        <p>Write your email address and I'll get back to you.</p>

        <form name="myForm">
        Email: <input type="email" name="input" ng-model="text" required>

          <button class="btn btn-default btn-sm" ng-click="addItem()">Send</button>
      </accordion-group>
    </accordion>
  </div>

</div>


  </body>
</html>